@use "partials/reset";
@use "partials/variables";
@use "partials/nav";
@use "partials/main-content";
@use "partials/ui";

.import-form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
  border: 2px solid variables.$on-primary-color;
  border-radius: variables.$border-radius;
  background: variables.$primary-color;
  margin-top: 20px;
}
