@use "partials/reset";
@use "partials/variables";
@use "partials/ui";
@use "partials/nav";
@use "partials/main-content";
@use "partials/ui";
@use "partials/sort";
@use "partials/filters";
@use "partials/product-card";


.main-content {
  position: relative;
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 16px;
}

.filters {
  position: sticky;
  top: 16px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.filters {
  position: sticky;
  top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 2px solid black;
  border-radius: variables.$border-radius;
  background: variables.$primary-color;
  align-self: start;
}

.filter-group {

}

@media (width >= 1600px) {
  .main-content {
    grid-template-columns: 250px 1fr;
  }

  .product-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (width <= 1000px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 850px) {
  .main-content {
    grid-template-columns: 1fr;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .filters {
    position: static;
  }

  .sort {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}
