@use "variables";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
  color: variables.$on-surface-color;
  margin: 10px 0;
}

button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 4px;
  transition-duration: 0.4s;

  &:enabled:hover {
    cursor: pointer;
    background-color: variables.$primary-color;
    color: variables.$on-primary-color;
    box-shadow: variables.$dark-primary-color 0 2px 4px 0;
  }
}