$primary-color: #675495;
$on-primary-color: #fdfdfd;
$primary-container-color: #c7b2fb;
$on-primary-container-color: #4e3b7a;
$dark-primary-color: #1e0a42;
$secondary-color: #5d5d71;
$tertiary-color: #85468b;
$error: #b91a1a;
$success: #5cb85c;
$warning: #f0ad4e;
$surface-color: #ddd7df;
$on-surface-color: #1d1b20;
$border-radius: 15px;
