$primary-color: #1D9A91;
$on-primary-color: #1c1c1c;
$dark-primary-color: #335557;
$secondary-color: #F9CF96;
$third-color: #E5603F;
$forth-color: #662433;
$surface-color: #e1e1e1;
$border-radius: 15px;
